.container {
    width: 100%;
}

.visContainer{
	background-color: #FAFAFA;
	height: 850px;
	max-height: 850px;
	min-height: 850px;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	margin: auto;
	border: 1px	solid black;
}
.visContainer1{
	background-color: #FAFAFA;
	height: 730px;
	max-height: 730px;
	min-height: 730px;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	margin: auto;
	border: 1px	solid black;
}
.visContainer2{
	background-color: #FAFAFA;
	height: 120px;
	max-height: 120px;
	min-height: 120px;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	margin: auto;
	border: 1px	solid black;
}

.node {
    fill: #ccc;
    stroke: black;
    stroke-width: 2px;
}

.link {
    stroke: black;
    stroke-width: 2px;
}

.chart {
	font-family: Arial, sans-serif;
	font-size: 12px;
}
 
.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
 
.bar {
	fill: #33b5e5;
}

.area {
  fill: steelblue;
}

#loading-indicator {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
}